
body{
    overflow: scroll;
    min-width: 1300px;
}

#main-nav {
  background-color: #990000;
  border-radius: 0px;
}

#main-nav a {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 15px;
}

#main-nav a:hover {
  color: 	greenyellow;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  color: #d9ead3ff;
}

#home-icon {
  color: #000000;
  font-size: 25px;
}

.navbar-brand {
  margin-top: -5px;
}

.icon-bar {
    background-color:#000;
}

#title-image {
  height: 23%;
  width:100%;
}


#price-logo, #dornsife-logo {
  margin-top: 10px;
  height: 20%;
  width: 100%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-xs-2, .col-xs-8, .col-xs-10, .col-sm-10, .col-md-10 {
  padding-left: 5px;
  padding-right: 5px;
}

.navbar {
  margin-bottom: 0px;
}

#header-band
{
  background-color: #003333;
  color: white;
  margin-top: -10px;
  margin-bottom: -10px;
}

#footer-band
{
  background-color:  cadetblue;
  color: white;
  margin-bottom: -10px;
}

.middle-div {
  height: 130px;
  width: 80px;
  background-color: #cceeff;
  text-align: center;
  vertical-align: middle;
  line-height: 110px;
  float: left;
 }

.arrow-right {
  height: 0px;
  border-top: 65px solid transparent;
  border-bottom: 65px solid transparent;
  border-left: 65px solid #cceeff;
  float: left;
}

.middle {
  height: 130px;
  width: 80px;
  background-color: #cceeff;
  text-align: center;
  vertical-align: middle;
  line-height: 110px;
  float: right;
 }

.arrow-left {
  height: 0px;
  border-top: 65px solid transparent;
  border-bottom: 65px solid transparent;
  border-right: 65px solid #cceeff;
  float: right;
}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 950px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #ffffff;
      height: 100%;
    }
	.col2 {

      height: 100%;
    }
	.white {
	  background-color: #bcdbe0;
	  border: 1px solid black;
	  height: 50%;
	}
	.col12 {
	  padding-top:15px;
	  background-color: #ffffff;
	  height: 35%;
	}
	.col21 {
	  padding-top:15px;
	  background-color: #f1f1f1;
	  border: 1px solid black;
	  height: 5%;
	}
	.col22 {
	  padding-top:15px;
	  background-color: #ffffff;
	  height: 50%;
	}
	.col23 {
	  padding-top:5px;
	  background-color: #ffffff;
	  height: 8%;
	}
	.col24 {
	  padding-top:5px;
	  background-color: #ffffff;
	  height: 37%;
	}
	.col31 {
	  padding-top:15px;
	  background-color: #ffffff;
	  height: 100%;
	}
	.col311 {
	  background-color: #ffffff;
	  height: 40%;
	}
	.col312 {
	  background-color: #f1f1f1;
	  border:1px solid #000000;
	  height: 50%;
	}
	.col32 {
	  padding-top:15px;
	  background-color: #bcdbe0;
	  border: 1px solid black;
	  height: 100%;
	}
	.row31{
		height:25%;
	}
	.row32{
		height:5%;
	}
	.row33{
		background-color:#ffffff;
		height:40%;
	}
	.row2col2{
		background-color:#f1f1f1;
		border: 1px solid black;
		height:100%
	}
	#chart {
		width:100%;
		height:100%;
	}
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }

a:hover {

			text-decoration: none;
		}

		a{
			text-decoration: none;
		}
		div{
			color: black;
		}

		.row:hover {
			text-decoration: none;
			color:red;
		}

		#columnvariable{

			color: #4286f4;
			border:1px solid black;height:85px;
		}

		#columnvariable:hover {

			border: 3px solid #4286f4;
			background-color: #a2c4c9;
			color: #0c343d;
		}



			.con{
				height:680px;
			}
			.row1 {
				height: 25%;
				background-color: #000000;
			}
			.row2 {
				height: 5%;
				background-color: #1C2729;
			}
			.row3 {
				height: 5%;
				background-color: #a2c4c9ff;
			}
			.row4 {
				height: 60%;
                padding-left: 20px;
				width:100%;
				background-color: #ffffff;
			}
			.row5 {
				height: 5%;
				background-color: #1C2729;
			}
			.row6 {
				height: 5%;
				background-color:#d9ead3;
			}
			.logo {
				height: 100%;
				background-color:#ffffff;
			}
			.heading {
				height: 100%;
			}
			.centeral {
				text-decoration:none;
				text-align: center;
				vertical-align: middle;
				color: #000000;
			}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;

    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: -340%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 200%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


.modal-header {

    border-bottom: none;
}

.modal-footer {

    border-top: none;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
	@media (max-width: 1350px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

