* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#main-nav {
  background-color: #990000;
  border-radius: 0px;
}

#main-nav a {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 15px;
}

#main-nav a:hover {
  color: greenyellow;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  color: #d9ead3ff;
}

#home-icon {
  color: #000000;
  font-size: 25px;
}

.navbar-brand {
  margin-top: -5px;
}

.icon-bar {
    background-color:#000;
}
@media (max-width: 1250px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

#title-image {
  height: 23%;
  width:100%;
}


#price-logo, #dornsife-logo {
  margin-top: 10px;
  height: 20%;
  width: 100%;
margin-left: 18%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-xs-2, .col-xs-8, .col-xs-10, .col-sm-10, .col-md-10 {
  padding-left: 5px;
  padding-right: 5px;
}

.navbar {
  margin-bottom: 0px;
}

#header-band
{
  background-color: #003333;
  color: white;
  margin-top: -10px;
  margin-bottom: -10px;
}

#footer-band
{
  background-color:  cadetblue;
  color: white;
  margin-bottom: -10px;
	margin-top: -10px;
	top: 0;
}

.middle-div {
  height: 21.5%;
  width: 5%;
  background-color: #cceeff;
  text-align: center;
  vertical-align: middle;

  float: left;

 }

#get_started
{
	font-size: 16px;
	margin-top: 5%;
}

.arrow-right {
  height: 0px;
  border-top: 82px solid transparent;
  border-bottom: 82px solid transparent;
  border-left: 82px solid #cceeff;
  float: left;
  margin-right: 5%;
}

.middle {
  height: 130px;
  width: 75%;
  background-color: #cceeff;
  text-align: center;
  vertical-align: middle;
  line-height: 110px;
  float: right;
 }

.arrow-left {

  height: 0;
  border-top: 82px solid transparent;
  border-bottom:82px solid transparent;
  border-right: 82px solid #cceeff;
  float: right;
}

.explore
{
	width:100%;
	height: 20%;

}
.arrow-right, .image-section, .arrow-left
{
	display: inline-block;
}

.explore{
  border: 0 none;
  display: inline-block;
    max-width: 100%;
  vertical-align: middle;
}
.list
{
	position: relative;


}
.text
{
	position: absolute;
	bottom: 50;
	left: 14%;
}
.title-text
{
	position: absolute;


	color: white;
   top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);

}
.title-text_composite
{
	position: absolute;
	color: white;
   top: 15%;
  left: 20%;

}
.title-text-homepage
{
	position: absolute;
	left: 5%;
	bottom: 40%;
	color: white;
	height:100%;
    justify-content: center;
    align-items: center;
    display: flex;
	top: -12%;
	margin-bottom: 1%;
font: 1.125em ;
}
.title-text_line2
{
	position: absolute;
	left: 40%;
	bottom: 25%;
	color: white;
	height:100%;
    justify-content: center;
    align-items: center;
    display: flex;
	top: 20%;
}

#text_comp_indicator
{
	background-color: cadetblue;
	text-align: center;
}

.thumbnails
{
	float:left;
  width: 64px;
  height: 64px;
  margin:5px;
}

.comp_indicators_button {
  background-color: cadetblue;
  border: none;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin-left: 5%;
	width: 50%;
  cursor: pointer;

}

.text_thumbnails_comp
{
	height:100%;
    position: absolute;
    top: -12%;;
    left: 10%;
    justify-content: center;
    align-items: center;
    display: flex;

}

.nowrap {
  white-space: nowrap;
}

#what_comp_ind {
	margin: 0!important;
	left: 0;
	padding-left: 1%;
	padding-right: 1%;
	background-color: cadetblue;
	text-align: center;
	height: 60%;
	position: relative;
}

.about_indicator {
	background-color:#cceeff;
	text-align: center;
	padding-left: 1%;
	padding-right: 1%;
	margin-bottom: 1%;
	padding-top: 0.1%;
	width: 100%;
	position: relative;
}

.distribution_eco_opp
{
	background-color: white;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	position: relative;
	width:70%;
}

#eco_histogram
{
	margin: 0!important;
	left: 0;
	padding-left: 1%;
	margin-right: 0.5%;
	background-color: cadetblue;
	text-align: center;
	height: 60%;
	position: relative;
}
#ec_opp_arrow
{
border-color: aqua;
	border-style: solid;
}
form
    {

        width: 50%;
        margin-left: 20%;
    }


 .img-text
 {
   position: absolute;
    z-index: 100;
    top:50%;
    left:20%;
    text-align: center;
    color: white;
    font-weight: bold;
 }

input
    {
        width: 60%;
        margin-left: 50%;
		    }

.panel
	{
		width: 70%;
		margin-left: 15%;
	}
	.panel-default > .panel-heading-custom {
background: #e6ffe6;
	}
	.panel-default > .panel-body-custom {
background: cadetblue;
		height: 60%;
	}
	.panel-default > .panel-heading-custom1 {
background: cadetblue ;

	}
	.panel-default > .panel-body-custom1 {
background:#e6ffe6;
		height: 60%;
	}
.login_button {
    background-color: #003333;
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   margin-left: 70%;
	width: 80%;
    cursor: pointer;

	}
	#margin
	{
		margin-bottom: 53%;
	}
	#margin1
	{
		margin-bottom: 10%;
	}
	#about_our_data
{
	background-color: #d9ead3;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	text-align: center;
}
