<html ng-app='myModule' ng-controller='myController'>
  <head>
    <title>About Our Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://js.arcgis.com/3.20/esri/css/esri.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/ex_var_style.css"> -->
    <link rel="stylesheet" href="css/loading.css">
    <style>
		body
		{
			overflow: scroll;
			min-width: 1200px;
		}
    a:hover{

    	text-decoration: none;
    }

     .col-md-2{
      padding: 15px; box-sizing: 10px; height: 5px;


     }
      #liDesign{

          background-color: #d9ead3;
          border: 2px solid #004d4d;
          font-weight: bold;
          text-transform: uppercase;
          padding: 15px; box-sizing: 10px;

        }

      #liDesign:hover{
          border-color: #00ffff;
          background-color: #a2c4c9;
        }


        #mybutton{

          color: #004d4d;
          float:right;
          margin-right: 40%;
          position: relative;
          margin-top: 10px;
          background-color: #d9ead3;
          border-color: #004d4d;"

          }
        #mybutton:hover{
          border-color: #00ffff;
        }
    </style>
  </head>
  <body style="font-family:Lato;">
    <div id="loader-wrapper">
      <div id="loader"></div>

      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>

    <div id="content">
      <nav id="main-nav" class="navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><span id="home-icon" class="glyphicon glyphicon-home"></span><span class="sr-only">(current)</span></a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="about.html">About</a></li>
              <li><a href="data_dictionary.html">Data Dictionary</a></li>
              <li><a href="explorevariables.html">Explore Variables</a></li>
              <li><a href="neighborhood_lp.html">Explore Neighborhoods</a></li>
              <li><a href="exp_comp_ind.html">Explore Composite Indicators</a></li>
              <li><a href="data_stories.html">Data Stories</a></li>
              <li><a href="about_data.html">Learn About The Data</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="login.html">Login/Sign Up</a></li>
            </ul>
          </div>
        </div>
      </nav>




      <!-- <div id="header-band"><h4 class="text-center">&nbsp;</h4></div>
      -->

      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <div class="item active">

            <div class="container-fluid">
        <div class="row">
          <div class="col-xs-2 ">
            <img src="img/price.png" id="price-logo" style="width:60%;">
          </div>
          <div class="col-xs-8 " style="position:relative; overflow:hidden;">
            <img src="img/about_data.jpg" id="title-image" style="height: 25%;">
            <h1 class="page-title">
            <b >LEARN ABOUT THE DATA</b><br>
            </h1>
          </div>
          <div class="col-xs-2 ">
            <img src="img/dornsife.png" id="dornsife-logo" style="width:70%;">
          </div>
        </div>
      </div>
      <div id="header-band"><h4 class="text-center">&nbsp;</h4></div>

          <div id="footer-band"><h4 class="text-center" style="line-height:1.4">Take an in-depth look at each of our variables and why they are important for neighborhoods and individuals.<br>Begin By clicking on a policy area below.</h4></div>
            <div style="background-image: url('img/about_data.jpg');background-size: 90%;">
            <br>
            <div class="row">
                <div class="col-xs-4" ng-repeat="a in main | unique: 'policyarea'" ng-click=getDts(a)>
                <div class="col-xs-2" style=""></div>
                <div id="liDesign" class="col-xs-8 text-center" style="line-height:1.4"><a style="text-decoration: none; color:#004d4d ">{{a.policyarea}}</a></div>
                <br><br><br><br>
                </div>
            </div>
            </div>
            <div id="header-band"><h4 class="text-center">&nbsp;</h4></div>
            <div id="header-band"><h4 class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;Looking for a quick list of all variables?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="data_dictionary.html"><button style="color: #0c343d;">Browse our Data dictionary</button></a></h4></div>
            <div id="header-band"><h4 class="text-center">&nbsp;</h4></div>
           </div>


<!-- SECOND CAROUSEL -->

           <div class="item">

			   <div class="container-fluid">
        <div class="row">
          <div class="col-xs-2 ">
            <img src="img/price.png" id="price-logo" style="width:60%;">
          </div>
          <div class="col-xs-8 " style="position:relative; overflow:hidden">
            <img src="img/about_data.jpg" id="title-image" style="height: 25%;">
            <h1 class="page-title">
            <b>LEARN: {{pa}}</b><br>
            </h1>

          </div>
          <div class="col-xs-2 ">
            <img src="img/dornsife.png" id="dornsife-logo" style="width:70%;">
          </div>
        </div>
      </div>
                <div id="header-band"><h4 class="text-center">&nbsp;</h4></div>

                <div id="footer-band"><h4 class="text-center">Select a dataset to start learning</h4></div>
                <div style="background-image: url('img/about_data.jpg');background-size: 90%;">
                <br>



                &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default btn-sm" ng-click=back()>
                <span class="glyphicon glyphicon-chevron-left"></span> Back
                </button>
                <br><br>



                <div class="row">
                <div class="col-xs-4" ng-repeat="b in menuDtsList | unique: 'dataset'" ng-click=getVar2(b.dataset) >
                <div class="col-xs-2" style=""></div>
                <div id="liDesign" class="col-xs-8 text-center" style="height: 57px; margin-right: 20px;"><a style="text-decoration: none; color:#004d4d; ">{{b.dataset}}</a>
                </div>
                <br><br><br><br>
                </div>
                </div>
                </div>

                <div id="header-band"><h4 class="text-center"><button style="color: #0c343d; margin: 8px;" ng-click=back()>Return to Learn About Data Page</button></h4></div>
              </div>



<!-- THIRD CAROUSEL -->
                <div class="item">
                <div id="header-band" style="height: 70px;"><h4 class="text-center" style="font-size: 30px;padding-top: 15px;">What is {{datasetSelected}} ?</h4></div>


                <div style="background-image: url('img/about_data.jpg');background-size: 90%;">
                <br>



                &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default btn-sm" ng-click=back()>
                <span class="glyphicon glyphicon-chevron-left"></span> Back
                </button>
                <br>

                <div class="row">
                <div class="col-xs-4">
                <div class="col-xs-2" style=""></div>
                <div id="liDesign" class="col-xs-8 text-center" style=" text-align: left; text-transform:none; height: 438px; width: 890px; margin-right: 20px; margin-left:200px;overflow:scroll; overflow:auto;"><a style="text-decoration: none; color:#004d4d; text-align: left;font-size:20px;">{{ learnabout }}</a>
                </div>
                <br><br><br><br>
                </div>
                </div>
                <br>
                </div>


                <div id="header-band"><h4 class="text-center"><button style="color: #0c343d; margin: 8px; " ng-click=back()>Return to Datasets</button></h4></div>
              </div>







          </div>


    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://js.arcgis.com/3.20"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
    <script src="http://unpkg.com/angular-esri-map@1"></script>
    <script src="js/main.js"></script>
    <script src="js/loading.js"></script>
  </body>
</html>
