<!DOCTYPE html>
<html >
	<head>
		<title>Data Dictionary</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" href="css/data_dictionary.css">
		<link rel="stylesheet" href="css/loading.css">
</head>


<body ng-app='menuApp' ng-controller='menuController' >

    <!-- loading screen -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <!-- Navigation Menu -->
    <div id="content">
		<nav id="main-nav" class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
					<a class="navbar-brand" href="index.html"><span id="home-icon" class="glyphicon glyphicon-home"></span><span class="sr-only">(current)</span></a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="about.html">About</a></li>
						<li><a href="data_dictionary.html">Data Dictionary</a></li>
						<li><a href="explorevariables.html">Explore Variables</a></li>
						<li><a href="neighborhood_lp.html">Explore Neighborhoods</a></li>
						<li><a href="exp_comp_ind.html">Explore Composite Indicators</a></li>
						<li><a href="data_stories.html">Data Stories</a></li>
						<li><a href="about_data.html">Learn About The Data</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="login.html">Login/Sign Up</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="con">
			<div class="row row1">
				<div class="col-xs-2 logo">
					<img src="img/price.png" id="price-logo" style="height:91%;width:76%;padding-left:58px;padding-top:20px;">
				</div>

                <div class="col-xs-8 heading" style="color: white;background-image: url('img/about_data.jpg'); background-size: 60%;"><h1 style="padding-top: 30px;padding-left: 250px;">DATA DICTIONARY</h1></div>

                <div class="col-xs-2 logo">
					<img src="img/dornsife.png" id="dornsife-logo" style="height:86%;width:85%;padding-left:45px;">
                </div>
             </div>

            <!-- where do i start is not working . What is this?-->
			<div class="row row2" style="background-color: #0c343d;">
				<a href="#" style="text-align: center;color: white;vertical-align: middle;margin-left:20px;line-height:34px;text-decoration: underline;">Where do I start?</a>
			</div>

            <!-- sorting by differetn criteria code-->
			<div class="row row3">
				<p class="centeral" style="background-color: #a2c4c9;">SORT DATASETS:
                    <!-- why same name and same id -->
					<input type="radio"  ng-model="inputBtnValue" ng-value="1"  ng-change="sort(inputBtnValue)" > By Policy Area
					<input type="radio"  ng-model="inputBtnValue" ng-value="2" ng-change="sort(inputBtnValue)"  > Alphabetically
				</p>
			</div>

            <!-- why is the table header like -->
            <div class="row">
				<div class="col-xs-2 centeral" style="background-color:#0c343d;color:white;">DATASETS</div>
				<div class="col-xs-2 centeral" style="background-color:#0c343d;color:white;">VARIABLES</div>
				<div class="col-xs-4 centeral" style="background-color:#0c343d;color:white;">VARIABLE DEFINITION</div>
				<div class="col-xs-2 centeral" style="background-color:#0c343d;color:white;">SOURCE</div>
				<div class="col-xs-2 centeral" style="background-color:#0c343d;color:white;">YEARS AVAILABLE</div>
            </div>

			<div class="row row4" style="overflow:scroll;width:100%;">
                <!-- table shown when sorted by policy area when flag is 1 -->


                <div class="row" ng-show="flag == 1" ng-repeat="a in uniquePolicyName" style="width:100%;margin-left:0px;">
					<div class="col-xs-12 centeral" style="background-color:#d9ead3;width:100%;height:25%;text-transform: uppercase;font-weight: bold;">{{a}}</div>

					<div class="row"  ng-repeat="b in groupByPolicyName(a)" style="width:100%;margin-left:0px;height:30%;">

						<div class="col-xs-2" style="border:1px solid black;height:85px;overflow:scroll; overflow:auto;">
							{{b.dataset}}
						</div>
						<div id="columnvariable" class="col-xs-2 popup" data-toggle="modal" data-target="#myModal1"  ng-click="popup(b['variable']);">
							{{b['variable']}}

						</div>
						<div class="col-xs-4" style="border:1px solid black;height:85px; overflow:scroll; overflow:auto;">
							{{b['variabledefinition']}}
						</div>
						<div class="col-xs-2" style="border:1px solid black;height:85px;overflow:scroll; overflow:auto;">
							{{b['datasource']}}
						</div>
						<div class="col-xs-2" style="border:1px solid black;height:85px;overflow:scroll; overflow:auto;">
							{{b['yearsavailable']}}
						</div>
						<div class="modal fade" id="myModal1" role="dialog" style="margin-top: 200px;overflow:scroll; overflow:auto;">
								<div class="modal-dialog">

								  <!-- Modal content-->
								  <div class="modal-content" style="background-color: #a2c4c9;">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">&times;</button>
									  <h4 class="modal-title">Download Data for {{ newVar }}</h4>
									</div>
									<div class="modal-body" style="text-align:center;">
									<select class="form-control" id="sel1"  style="background-color:#0c343d;color:white;width:25%;margin:auto;" ng-model="modelSelectedYear" ng-options="d.year for d in yearss" >
                                        <option value="" disabled>Select a Value</option>
									</select>

									<div style="height:20px;"></div>

                                         <a href={{modelSelectedYear['open-dataurl']}} class="btn btn-default" style="color: #0c343d; font-weight: bold; background-color:#d9ead3;border: 2px solid #0c343d;margin:auto;letter-spacing:1px;" target="_blank"  >Download</a>

									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal" style="color: #0c343d; font-weight: bold; background-color:#d9ead3;border: 2px solid #0c343d; letter-spacing:1px;">Cancel</button>
									</div>
								  </div>

								</div>
						</div>
					</div>

				</div>

                <!-- table shown when sorted by alphabetical when flag is 2 -->
				<div class="row" ng-show="flag == 2" ng-repeat="c in newmenu" style="width:100%;margin-left:0px;">

						<div class="col-xs-2" style="border:1px solid black;height:85px; overflow:scroll; overflow:auto;">
							{{c.dataset}}
						</div>
						<div class="col-xs-2 popup" data-toggle="modal" data-target="#myModal2" id="columnvariable"  ng-click="popup(c['variable']);" style="border:1px solid black;height:85px; overflow:scroll; overflow:auto;" >
							{{c['variable']}}

						</div>
						<div class="col-xs-4" style="border:1px solid black;height:85px; overflow:scroll; overflow:auto;">
							{{c['variabledefinition']}}
						</div>
						<div class="col-xs-2" style="border:1px solid black;height:85px; overflow:scroll; overflow:auto;">
							{{c['datasource']}}
						</div>
						<div class="col-xs-2" style="border:1px solid black;height:85px; overflow:scroll;overflow:auto;">
							{{c['yearsavailable']}}
						</div>

						<div class="modal fade" id="myModal2" role="dialog" style="margin-top: 200px;">
								<div class="modal-dialog">

								  <!-- Modal content-->
								  <div class="modal-content" style="background-color: #a2c4c9;">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">&times;</button>
									  <h4 class="modal-title">Download Data for {{ newVar }}</h4>
									</div>
									<div class="modal-body" style="text-align:center;">
									<select class="form-control" id="sel2"  style="background-color:#0c343d;color:white;width:25%;margin:auto;" ng-model="modelSelectedYear" ng-options="d.year for d in yearss" >
                                        <option value="" disabled>Select a Value</option>
									</select>

									<div style="height:20px;"></div>

                                         <a href={{modelSelectedYear['open-dataurl']}} class="btn btn-default" style="color: #0c343d; font-weight: bold; background-color:#d9ead3;border: 2px solid #0c343d;margin:auto;" target="_blank">Download</a>

									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal" style="color: #0c343d; font-weight: bold; background-color:#d9ead3;border: 2px solid #0c343d; letter-spacing:1px;">Cancel</button>
									</div>
								  </div>

								</div>
						</div>

				</div>

            </div>

			<div class="row row5">

			</div>
		</div>
	</div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="js/data_dictionary.js"></script>
		<script src="js/loading.js"></script>

	</body>
</html>
